.App {
  text-align: center;
  background-color: bisque;
  color: #282c34;
  font-family: Anton;
  font-size: 14px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f3c5a4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.album-card{
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 35px;
  grid-template-columns: auto auto auto auto;
  gap:5px;
  padding: 6px;
  display: grid;
  background-color: rgb(36, 74, 110);
  border-radius: 10px;
}

.searching {
  margin-top:30px;
}

.searching button{
  margin-left:10px;
  margin-top: 7px;
}

.album-img{
  border-radius: 40px;
  margin-top: 20px;
  margin-right: 25px;
  background-color:#f3c5a4;
}

.login{
  margin-top: 30px;
}

.form-title{
  margin-left: 55px;
  margin-right: 2px;
  font-family: Anton;
}
.form-desc{
  margin-left: 30px;
  margin-right: 20px;
  font-family: Anton;
}
.form-btn{
  margin-left: 380px;
}


.btn{ 
  background-color: #c03b07ea;
  color: rgb(229, 226, 226);
  border: 2px solid #110804;
  border-radius: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #b9b7b5;
}
.btn a{
  color: #fffafa;
  font-size: 17px;
}

.title {
  font-size: 33px;
  color: rgb(14, 143, 182);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-shadow: 1px 1px 2px rgb(204, 209, 214), 0 0 25px rgb(195, 214, 216),
    0 0 5px rgb(13, 81, 145);
}

label {
  font-size: 18px;
  font-family: sans-serif;
}

textarea {
  width: 325px;
  height: 18px;
  padding: 5px 2px;
  border: 2px solid #ccc;
  border-radius: 7px;
  resize: none;
  font-family: sans-serif;
}
input {
  width: 325px;
  height: 18px;
  padding: 5px 2px;
  font-family: sans-serif;
  border: 2px solid #ccc;
  border-radius: 7px;
  margin-bottom: 26px;
}

.btn {
  margin-top: 10px;
  background-color: #d84b0a;
  color: white;
  border: none;
  width: 65px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.playlist {
  background-color: #f3c5a4;
  border: 3px solid #d84b0a;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  width: 280px;
  height: 280px;
}

.song {
  display: inline;
}

.playlist-title {
  padding-bottom: 0px;
}

.btn:hover,
.btn-ply:hover {
  background-color: #db8963;
}

/* .login{
  
} */